 
 h1{
    font-weight: bold;
    color:white;
    
  
 }

.chart{
    padding-top: 10px;
}

.datepicker{
    margin-left: 600px;
}

.box {
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    margin: 10px;
  }
  