/* Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
  
.login-box {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
    width: 300px;
    margin-top: 20px; /* Adjust the margin to control the space between the navbar and login box */
}
  
  .login-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  .login-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  